* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Josefin Sans", sans-serif;
}

html {
    scroll-behavior: smooth;
}

h1 {
    font-size: 40px;
    color: #FF4545
}
h1 span {
    font-size: 100px;
    color:white;
}

ul {
    list-style-type: none;
}

p {
    color: white;
    font-size: 1rem;
}

h3 {
    color: #FF4545;
    font-size: larger;
}


.container {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.navbar {
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    position: fixed;
    background-color: #1E1C1C;
    overflow: auto;
}

.logo {
    font-size: 2rem;
    font-weight: bolder;
    padding: 10px;
    color: #FF4545;
}

.nav-buttons {
    display: flex;
    overflow: auto;
    
}

.nav-button {
    margin-right: 15px;
    padding: 10px;
    color: white;
    text-decoration: none;
    font-weight: bold;
}


.active, .nav-button:hover {
    color:#FF4545;
}



section {
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    width: 100%;
}

.container-1 {
    height: 100vh;
    width: 100%;
    background-color: #303830;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: left;
    padding-left: 200px;
    height: 100vh;
    justify-content: center;

}

.line-1 {
    margin: 10px;
    width: 200px;
    height: 50px;
    text-align: left;
    color: #666362;
    font-size: 2rem;
    padding-left: 10px;
}

.line-2 {
    margin: 10px;
    width: 400px;
    height: 100px;
    text-align: left;
    color: white;
    font-size: 4rem;
    padding-left: 10px;
}

.line-3 {
    margin: 10px;
    width: 400px;
    height: 100px;
    text-align: left;
    color: white;
    font-size: 4rem;
    padding-left: 10px;
}

h1 .period {
    color: #FF4545;
    font-size: 5rem;
}

.contact-btn {
    margin: 10px;
    width: 200px;
    height: 50px;
    padding-top: 10px;
    text-align: center;
    border: #FF4545 solid 1px;
    background-color: #FF4545;
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
    text-decoration: none;
    border-radius: 12px;
}


.container-2 {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items:center; 
    background-color: #1E1C1C; 
}

.about {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    gap: 20px;
}

h1 .about-me {
    width: 200px;
    height: 50px;
    text-align: center;
    padding-top: 5px;
    margin-bottom: 10px;
    color: #FF4545;
    font-size: 2rem;
    font-weight: bolder;
}
.about1 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.about2 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
}


.profile {
    width: 450px;
    height: 500px;
    color: white;
}

.profile img {
    border-radius: 30px;
}

.about-me_line1 {
    height: 40px;
    width: 450px;
    padding-top: 10px;
    color: white;
}

.about-me_line1 p {
    font-size:1rem;
}

.about-me_line1 span {
    color: #FF4545;
}

.about-me_paragraph {
    height: 200px;
    width: 450px;
    margin-top: 20px;
    text-align: justify;
    color: white;
    font-weight: bold;
}

.about-me_paragraph span {
    color: #FF4545;
}

.name,
.phone,
.country,
.email {
    height: 60px;
    width: 200px;
    padding-top: 7px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2px;
}

.education {
    height: 60px;
    width: 300px;
    padding-top: 7px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2px;
}

.name-lbl,
.phone-lbl,
.country-lbl,
.email-lbl,
.education-lbl {
    width: 180px;
    text-align: center;
    color:white;

}

.education-lbl {
    width: 280px;
    text-align: center;
    color:white;

}

.name-info,
.phone-info,
.country-info,
.email-info,
.education-info {
    width: 180px;
    height: 20px;
    text-align: center;
    color: white;
}

.education-info {
    width: 280px;
    height: 20px;

}




.p-info1 {
    display: flex;
    gap: 40px;
    margin-top: 10px;
}

.p-info2 {
    display: flex;
    gap: 40px;
    margin-top: 10px;
}

.p-info3 {
    display: flex;
    margin-top: 10px;
    align-items: center;
    justify-content: center;
}

.social-media {

    height: 40px;
    width: 450px;
    text-align: center;
    padding-top: 7px;
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    color: white;
}

.socmed-git,
.socmed-fb,
.socmed-x,
.socmed-ig {
    width: 50px;
    height: 50px;
}

.container-3 {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items:center;  
    background-color: #303830;
}

.skills {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    width: 100%;
    height: 100vh;
}

.skills-label {
    width: 200px;
    height: 50px;
    text-align: center;
    margin-bottom: 10px;
    color: #FF4545;
}

.skills-part1 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.skills-part2 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap:50px;
}

.skills-part3 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.skill1,
.skill2,
.skill3,
.skill4,
.skill5,
.skill6,
.skill7,
.skill8 {
    border: white solid 1px;
    height: 100px;
    width: 450px;
    text-align: left;
    display: flex;
    flex-direction: column;
    padding-left: 10px;
    padding-top: 7px;
    margin-top: 10px;
    color: white;
}


.skill-label {
    border: white solid 1px;
    padding: 5px;
    width: 100px; 
    color: #FF4545;
    font-weight: bold;
}


.skill-percent {
    border: white solid 1px;
    padding: 2px;
    width: 80px;
    margin-top: 2px;
    margin-left:345px;
    color: white;
}

.skill1-bar,
.skill2-bar,
.skill3-bar,
.skill4-bar,
.skill5-bar,
.skill6-bar,
.skill7-bar,
.skill8-bar {
    display: flex;
    margin-top: 10px;
    color: white
}


.skill1-bar1,
.skill2-bar1,
.skill3-bar1,
.skill4-bar1,
.skill5-bar1,
.skill6-bar1,
.skill7-bar1,
.skill8-bar1 {
    width: 250px;
    height: 20px;
    border: white solid 1px;
    text-align: center;
    color: white;
}

.skill1-bar2,
.skill2-bar2,
.skill3-bar2,
.skill4-bar2,
.skill5-bar2,
.skill6-bar2,
.skill7-bar2,
.skill8-bar2 {
    width: 175px;
    height: 20px;
    border: white solid 1px;
    text-align: center;
    color: white;
}


.skills-line1 {
    width: 600px;
    height: 50px;
    text-align: center;
    padding-left: 20px;
    padding-top: 15px;
    border: white solid 1px;
    color: white;
    
}

.container-4 {
    height: 100vh;
    width: 100%;
    border: white solid 1px;
    display: flex;
    flex-direction: column;
    align-items:center;
    background-color: #1E1C1C;   
}

.projects {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    gap: 30px;
}

.projects-part1 {
    display: flex;
    align-items: center;
    justify-content: center ;
}

.projects-part2 {
    display: flex;
    align-items: center;
    justify-content: center ;
    gap: 50px;
}

.project1,
.project2,
.project3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center ;
    gap: 20px;
}
.projects-label {
    width: 200px;
    height: 50px;
    text-align: center;
}


.projects-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 380px; 
}





.projects-image {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px; 
}

.projects-img {
    border: white solid 1px;
    height: 400px;
    width: 300px;
    text-align: center;
    padding: 180px 0;
    color: white;
}

.container-5 {
    height: 100vh;
    width: 100%;
    border: white solid 1px;
    display: flex;
    flex-direction: column;
    align-items:center;  
    background-color: #303830;
}

.services {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    gap: 20px;
}

.service-logo {
    border: white solid 1px;
    height: 50px;
    width: 80px;
    margin-left: 85px;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
    padding: 15px;
    color: #FF4545;
}

.service-label {
    border: white solid 1px;
    height: 30px;
    width: 100px;
    margin-left: 75px;
    margin-bottom: 10px;
    padding: 5px;
    text-align: center;
    color:  white;
    font-weight: bold;
}

.service-par {
    border: white solid 1px;
    height: 120px;
    width: 230px;
    margin: 0 10px;
    text-align: center;
    padding: 40px;
    color: white;
}

.services-part1 {
    display: flex;
    justify-content: center;
    align-items: center;
}


.services-label {
    width: 200px;
    height: 50px;
    text-align: center;
    padding-top: 5px;
    border: white solid 1px;
    margin-bottom: 10px;
    color: #FF4545;
    font-size: 2rem;
    font-weight: bolder;
}

.services-1st-column {
    display: flex;
    align-items: center;
    align-items: center;
    gap: 20px;
}

.services-2nd-column {
    display: flex;
    gap: 20px;
    
}

.services-part2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.service1,
.service2,
.service3,
.service4,
.service5,
.service6,
.service7,
.service8 {
    border: white solid 1px;
    width: 250px;
    height: 250px;
}

.container-6 {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items:center; 
    background-color: #1E1C1C; 
}

.contact-me {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 30vh;
    gap: 20px;
}

.contact-me-label {
    width: 300px;
    height: 50px;
    text-align: center;
    padding-top: 5px;
    margin-bottom: 10px;
    color: #FF4545;
    font-size: 2rem;
    font-weight: bolder;
}

.contact-me-part1 {
    display: flex;
    justify-content: center;
}
.contact-me-part2 {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    gap: 10px;
}

.contact-me-part3 {
    display: flex;
    justify-content: center ;
    margin-top: 20px;
}

.call,
.email-us,
.visit {
    width: 300px;
    height: 70px;
    display: flex;
    padding: 10px;
    gap: 10px;
}

.call2,
.email-us2,
.visit2 {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.contact-logo {
    width: 50px;
    height: 50px;
    color: #FF4545;
    font-weight: bold;
    align-items: center;
}

.contact-label,
.contact-info {
    width: 220px;
    height: 50px;
    color:  white;
    
}
.contact-label{
    font-weight: bold;
}


