* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Protest Riot", sans-serif;
}

html {
    scroll-behavior: smooth;
}

h1 {
    font-size: 40px;
    color: #FF4545;
    

}
h1 span {
    font-size: 100px;
    color:white;
}

ul {
    list-style-type: none;
}

p {
    color: white;
    font-size: 1rem;
}

h3 {
    color: #FF4545;
    font-size: larger;
}


.container {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.navbar {
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    position: fixed;
    background-color: #1E1C1C;
    z-index: 1;
}

.logo {
    font-size: 2rem;
    font-weight: bolder;
    color: #FF4545;
}

.logo .letter, .typing .letter {
    display: inline-block;
    transition: color 0.5s ease-in-out;
}

.logo .letter.color-change ,.typing.letter.color-change {
    color: white; 
}

.nav-buttons {
    display: flex;
    gap:2rem;
    
}

.nav-button {
    color: white;
    text-decoration: none;
    font-weight: bold;
}


.active, .nav-button:hover {
    color:#FF4545;
    
}

.nav-button.active {
    color: #FF4545;
  }


section {
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    width: 100%;
}

.container-1 {
    height: 100vh;
    width: 100%;
    background-color: #303830;
    background-image: url(images/home-bg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: left;
    padding-left: 200px;
    height: 100vh;
    justify-content: center;

}


.content2{
    width: 600px;
    height: 230px;
}



.content3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
}



.line-1 {
    margin: 10px;
    width: 200px;
    height: 50px;
    text-align: left;
    color: #666362;
    font-size: 2rem;
    padding-left: 10px;
}

.line-2 {
    margin: 10px;
    width: 400px;
    height: 100px;
    text-align: left;
    color: white;
    font-size: 4rem;
    padding-left: 10px;
    font-weight: bolder;
}

.line-3 {
    margin: 10px;
    width: 400px;
    height: 100px;
    text-align: left;
    color: white;
    font-size: 4rem;
    padding-left: 10px;
    font-weight: bolder;
}

.content2 h1 .period {
    color: #FF4545;
    font-size: 5rem;
}

.contact-btn {
    margin: 10px;
    width: 200px;
    height: 50px;
    padding-top: 10px;
    text-align: center;
    border: #FF4545 solid 1px;
    background-color: #FF4545;
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
    text-decoration: none;
    border-radius: 12px;
}

.contact-btn:hover {
    border: #FF4545 solid 1px;
    background-color: #303830;
    transform: scale(1.1);
}

.container-2 {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items:center; 
    background-color: #1E1C1C;
     
}

.about {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    gap: 20px;
}

h1 .about-me {
    width: 200px;
    height: 50px;
    text-align: center;
    padding-top: 5px;
    margin-bottom: 10px;
    color: #FF4545;
    font-size: 2rem;
    font-weight: bolder;

}
.about1 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.about2 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
}


.profile {
    width: 450px;
    height: 500px;
    color: white;
}

.profile img {
    border-radius: 60px;
    box-shadow:0px 0px 10px 10px #303830;
    
}

.about-me {
    height: 70px;
    width: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-image: url(images/about_bg.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat ; */
}


.about-me h1 {
    text-align: center;
    width: 100%;
    backdrop-filter: blur(6px);
    padding: 1rem;
    text-shadow: 3px 3px 6px black;
}

.about-me_content {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.about-me_line1 {
    width: 450px;
    color: white;
}

.about-me_content h2 {
    font-size: 1rem;
}
.about-me_paragraph p {
    font-size: 1rem;
}

.about-me_line1 span {
    color: #FF4545;
    font-size: 1.5rem;
}

.about-me_paragraph {
    height: 200px;
    width: 450px;
    text-align: justify;
    color: white;
    font-weight: bold;
    font-size: 1rem;
}

.about-me_paragraph span {
    color: #FF4545;
}

.resume,
.phone,
.country,
.email {
    height: 60px;
    width: 200px;
    padding-top: 7px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2px;
}

.education {
    height: 60px;
    width: 300px;
    padding-top: 7px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2px;
}

.resume-lbl,
.phone-lbl,
.country-lbl,
.email-lbl,
.education-lbl {
    width: 180px;
    text-align: center;
    color:white;

}

.resume-lbl h5,
.phone-lbl h5,
.country-lbl h5,
.email-lbl h5,
.education-lbl h5 {
    width: 180px;
    text-align: center;
    color:white;
}

.resume-info a{
    text-decoration: none;
    color: #FF4545;
}

.resume-info a:hover {
    text-decoration: underline;
    color: white;
}

.resume-info,
.phone-info,
.country-info,
.email-info,
.education-info {
    width: 180px;
    height: 20px;
    text-align: center;
    color: #FF4545;
    font-size: 1.05rem;
}

.education-info {
    width: 280px;
    height: 20px;

}




.p-info1 {
    display: flex;
    gap: 40px;
    margin-top: 10px;
}

.p-info2 {
    display: flex;
    gap: 40px;
    margin-top: 10px;
}

.p-info3 {
    display: flex;
    margin-top: 10px;
    align-items: center;
    justify-content: center;
}

.social-media {

    height: 40px;
    width: 450px;
    text-align: center;
    padding-top: 7px;
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    color: white;
}

.socmed-git,
.socmed-linkedIn,
.socmed-fb,
.socmed-x,
.socmed-ig {
    width: 50px;
    height: 50px;
}

.socmed-git:hover,
.socmed-linkedIn:hover,
.socmed-fb:hover,
.socmed-x:hover,
.socmed-ig:hover {
    transform: scale(1.2);
}




.container-3 {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items:center;  
    background-color: #303830;
}

.experiences {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    width: 100%;
    height: 100vh;
}

.experiences-label {
    height: 70px;
    width: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-image: url(images/skills_bg.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat ; */

}

.experiences-label h1 {
    text-align: center;
    width: 100%;
    backdrop-filter: blur(6px);
    padding: 1rem;
    text-shadow: 2px 2px 4px black;
}

.experiences-part1 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.experiences-part2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:50px;
    color: white;

}

.exp-column1,
.exp-column2 {
    display: flex;
    gap: 30px;
}

.programming-languages,
.IDE,
.database,
.web-technologies {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #1E1C1C;
    box-shadow: 0 0 5px 5px #666362;
    border-radius: 20px;
    width: 500px;
    height: 200px;
    gap: 20px;
}

.pl-items {
    display: flex;
    gap:20px;
}

.pl-item {
    width: 75px;
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:10px;
}

.pl-item:hover img,
.ide-item:hover img,
.database-item:hover img,
.web-tech-item:hover img{
    transform: scale(1.2);
}

.pl-item:hover h4,
.ide-item:hover h4,
.database-item:hover h4,
.web-tech-item:hover h4{
    opacity: 1;
}

.ide-items {
    display: flex;
    gap:20px;
}

.ide-item {
    width: 75px;
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap:10px;
}


.database-items {
    display: flex;
    gap:20px;
}

.database-item {
    width: 75px;
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap:10px;
}

.web-tech-items {
    display: flex;
    gap:20px;
}

.web-tech-item {
    width: 75px;
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap:10px;
}

.pl-item h4,
.ide-item h4,
.database h4,
.web-tech-item h4 {
    opacity: 0;
}
.container-5 {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items:center;
    background-color: #1E1C1C;   
}

.projects {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    gap: 30px;
}

.projects-part1 {
    display: flex;
    align-items: center;
    justify-content: center ;
}

.projects-part2 {
    display: flex;
    align-items: center;
    justify-content: center ;
    gap: 50px;
}

.project1,
.project2,
.project3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center ;
    gap: 20px;
}

.projects-label {
    height: 70px;
    width: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-image: url(images/projects_bg.png);
    background-size: 250px 70px;
    background-position: center;
    background-repeat: no-repeat ; */
}

.projects-label h1 {
    text-align: center;
    width: 100%;
    backdrop-filter: blur(6px);
    padding: 1rem;
    text-shadow: 2px 2px 4px black;
}

.projects-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 380px; 
}



.projects-content {
    width: 300px;
    object-fit: contain;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center ;
    color: white;
    border-radius: 30px;
    position: relative;
    gap: 20px;
}
.content-icon img:hover {
    transform: scale(1.1);
}

.projects-content p,
.projects-content h4 {   
    text-align: center;
}
.projects-image {
    opacity: 1;
    display: block;
    height: 400px;
    width: 300px;
    transition: .5s ease;
    backface-visibility: hidden;
    border-radius: 30px;

}
.projects-data {
    color: #FF4545;
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);

    
}

.projects-content:hover .projects-image {
    box-shadow:0px 0px 10px 10px #1E1C1C;
    transform: scale(1.05);
    opacity: 0.3;
}

.projects-content:hover .projects-data {
    
    opacity: 1;
}

.projects-content:hover .content-icon {
    opacity: 1;
}
.proj-data-content {
    width: 250px;
}

.proj-data-content h4{
    font-size: 1.25rem;
}

.content-icon {
    opacity: 0;
    display: flex;
    gap: 10px;
}

.container-4 {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items:center;  
    background-color: #303830;
}

.services {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    gap: 80px;
}

.services-label {
    height: 70px;
    width: 260px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-image: url(images/services_bg.png);
    background-size: 260px 70px;
    background-position: center;
    background-repeat: no-repeat ; */
}

.services-label h1 {
    text-align: center;
    width: 100%;
    backdrop-filter: blur(6px);
    padding: 1rem;
    text-shadow: 2px 2px 4px black;

}

.service-logo  i{
    font-size: 60px;
    color: #FF4545;   
}

.service-logo {
    padding-top: 10px;
    text-align: center;
}

.service-label {
    color:  white;
    font-weight: bold;
    height: 60px;
    padding: 10px;
}

.service-par {
    height: 120px;
    width: 230px;
    padding: 10px;
    text-align: center;
    color: white;
}

.service-par p {
    font-size: smaller
}

.services-part1 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.services-1st-column {
    display: flex;
    align-items: center;
    align-items: center;
    gap: 60px;
}


.services-part2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.service1,
.service2,
.service3 {
    width: 250px;
    height: 350px;
    background-color: #303830;
    border-radius: 20px;
    box-shadow: 0 0 20px #666362;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.service1:hover,
.service2:hover,
.service3:hover{
    transform: scale(1.025);
}
.see-here {
    height: 30px;
    width: 150px;
    border-radius: 10px;
    background-color: #FF4545;   
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.see-here:hover {
    border: #FF4545 solid 1px;
    background-color: #303830;
}
.see-here-btn {
    text-decoration: none;
    color: white;
    font-weight: bold;
}


.container-6 {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items:center; 
    background-color: #FF4545; 
}

.contact-me {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 30vh;
    gap: 20px;
}

.contact-me-label h1 {
    width: 300px;
    height: 50px;
    text-align: center;
    padding-top: 5px;
    margin-bottom: 10px;
    color: white;
    font-size: 2rem;
    font-weight: bolder;

}

.contact-me-part1 {
    display: flex;
    justify-content: center;
}
.contact-me-part2 {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    gap: 10px;
}

.contact-me-part3 {
    display: flex;
    justify-content: center ;
    margin-top: 20px;
}

.call,
.email-us,
.visit {
    width: 300px;
    height: 70px;
    display: flex;
    padding: 10px;
    gap: 10px;
}

.call2,
.email-us2,
.visit2 {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.contact-logo {
    width: 50px;
    height: 50px;
    color: #FF4545;
    font-weight: bold;
    align-items: center;
}

.contact-label,
.contact-info {
    width: 220px;
    height: 50px;
    color:  white;   
}

.contact-info a {
    color: white;
    text-decoration: none;
}

.contact-info a:hover {

    text-decoration: underline;
    color: #303830;
}
.contact-label{
    font-weight: bold;
}

.contact-logo i {
    transition: transform 0.3s ease;
}
.contact-logo i:hover {
    animation: bounce 0.5s ease;
}

@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
      transform: translateY(0);
    }
    40% {
      transform: translateY(-10px);
    }
    60% {
      transform: translateY(-5px);
    }
  }


